@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 50, 50, 50;
  --background-start-rgb: 50, 50, 50;
  --background-end-rgb: 50, 50, 50;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

.profile-image {
  filter: grayscale(80%) brightness(0.8);
  transition: filter 0.3s ease-in-out;
}

.profile-image:hover {
  filter: grayscale(0%) brightness(1);
} 